// <style type='text/scss'>

// Define the list of colors
$colors: blue, black, red;

// Use the @each directive to loop through the list
@each $color in $colors {
  .#{$color}-bg {
    background-color: $color;
  }
}


  div {
    height: 200px;
    width: 200px;
  }
// </style>

// <div class="blue-bg"></div>
// <div class="black-bg"></div>
// <div class="red-bg"></div>